src/conf/xml-resources/web-service-references/ManufactureWS_MiBookPro/wsdl/54.186.189.163_8080/ManufactureWS/ManufactureWS_MiBookPro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://manufacture/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://manufacture/" name="ManufactureWS">
<types>
<xsd:schema>
<xsd:import namespace="http://manufacture/" schemaLocation="http://54.186.189.163:8080/ManufactureWS/ManufactureWS_MiBookPro?xsd=1"/>
</xsd:schema>
</types>
<message name="inquiry">
<part name="parameters" element="tns:inquiry"/>
</message>
<message name="inquiryResponse">
<part name="parameters" element="tns:inquiryResponse"/>
</message>
<message name="getPurchaseLog">
<part name="parameters" element="tns:getPurchaseLog"/>
</message>
<message name="getPurchaseLogResponse">
<part name="parameters" element="tns:getPurchaseLogResponse"/>
</message>
<message name="shipToWarehouse">
<part name="parameters" element="tns:shipToWarehouse"/>
</message>
<message name="shipToWarehouseResponse">
<part name="parameters" element="tns:shipToWarehouseResponse"/>
</message>
<message name="payOrder">
<part name="parameters" element="tns:payOrder"/>
</message>
<message name="payOrderResponse">
<part name="parameters" element="tns:payOrderResponse"/>
</message>
<message name="manufactureInfo">
<part name="parameters" element="tns:manufactureInfo"/>
</message>
<message name="manufactureInfoResponse">
<part name="parameters" element="tns:manufactureInfoResponse"/>
</message>
<portType name="ManufactureWS_MiBookPro">
<operation name="inquiry">
<input wsam:Action="http://manufacture/ManufactureWS_MiBookPro/inquiryRequest" message="tns:inquiry"/>
<output wsam:Action="http://manufacture/ManufactureWS_MiBookPro/inquiryResponse" message="tns:inquiryResponse"/>
</operation>
<operation name="getPurchaseLog">
<input wsam:Action="http://manufacture/ManufactureWS_MiBookPro/getPurchaseLogRequest" message="tns:getPurchaseLog"/>
<output wsam:Action="http://manufacture/ManufactureWS_MiBookPro/getPurchaseLogResponse" message="tns:getPurchaseLogResponse"/>
</operation>
<operation name="shipToWarehouse">
<input wsam:Action="http://manufacture/ManufactureWS_MiBookPro/shipToWarehouseRequest" message="tns:shipToWarehouse"/>
<output wsam:Action="http://manufacture/ManufactureWS_MiBookPro/shipToWarehouseResponse" message="tns:shipToWarehouseResponse"/>
</operation>
<operation name="payOrder">
<input wsam:Action="http://manufacture/ManufactureWS_MiBookPro/payOrderRequest" message="tns:payOrder"/>
<output wsam:Action="http://manufacture/ManufactureWS_MiBookPro/payOrderResponse" message="tns:payOrderResponse"/>
</operation>
<operation name="manufactureInfo">
<input wsam:Action="http://manufacture/ManufactureWS_MiBookPro/manufactureInfoRequest" message="tns:manufactureInfo"/>
<output wsam:Action="http://manufacture/ManufactureWS_MiBookPro/manufactureInfoResponse" message="tns:manufactureInfoResponse"/>
</operation>
</portType>
<binding name="ManufactureWS_MiBookProPortBinding" type="tns:ManufactureWS_MiBookPro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchaseLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shipToWarehouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="manufactureInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManufactureWS">
<port name="ManufactureWS_MiBookProPort" binding="tns:ManufactureWS_MiBookProPortBinding">
<soap:address location="http://54.186.189.163:8080/ManufactureWS/ManufactureWS_MiBookPro"/>
</port>
</service>
</definitions>