src/conf/xml-resources/web-service-references/ManufactureWS_MiBookPro/wsdl/54.186.189.163_8080/ManufactureWS/ManufactureWS_MiBookPro.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://manufacture/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://manufacture/">

<xs:element name="MiBookAir" type="tns:miBookPro"/>

<xs:element name="Order" type="tns:order"/>

<xs:element name="Orders" type="tns:orders"/>

<xs:element name="getPurchaseLog" type="tns:getPurchaseLog"/>

<xs:element name="getPurchaseLogResponse" type="tns:getPurchaseLogResponse"/>

<xs:element name="inquiry" type="tns:inquiry"/>

<xs:element name="inquiryResponse" type="tns:inquiryResponse"/>

<xs:element name="manufactureInfo" type="tns:manufactureInfo"/>

<xs:element name="manufactureInfoResponse" type="tns:manufactureInfoResponse"/>

<xs:element name="payOrder" type="tns:payOrder"/>

<xs:element name="payOrderResponse" type="tns:payOrderResponse"/>

<xs:element name="shipToWarehouse" type="tns:shipToWarehouse"/>

<xs:element name="shipToWarehouseResponse" type="tns:shipToWarehouseResponse"/>

<xs:complexType name="getPurchaseLog">
<xs:sequence>
<xs:element name="wareHouseName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseLogResponse">
<xs:sequence>
<xs:element name="return" type="tns:orders" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orders">
<xs:sequence>
<xs:element name="wareHouseName" type="xs:string"/>
<xs:element name="order" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="order">
<xs:sequence>
<xs:element name="customerRef" type="xs:string"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="unitPrice" type="xs:float"/>
<xs:element name="status" type="xs:string"/>
<xs:element name="totalPrice" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquiry">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="inquiryResponse">
<xs:sequence>
<xs:element name="return" type="tns:miBookPro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="miBookPro">
<xs:complexContent>
<xs:extension base="tns:manufactureItem">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="XMLPath" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="manufactureItem" abstract="true">
<xs:sequence>
<xs:element name="cost" type="xs:float"/>
<xs:element name="dimensionWeightFactor" type="xs:float"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="timeToProduce" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufactureInfo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="manufactureInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:manufacture" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufacture">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payOrder">
<xs:sequence>
<xs:element name="wareHouseName" type="xs:string" minOccurs="0"/>
<xs:element name="customerRef" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipToWarehouse">
<xs:sequence>
<xs:element name="wareHouseName" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipToWarehouseResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>